@font-face {
    font-family: sans;
    font-style: normal;
    font-weight: bold;
    src: url("../fonts/sansWeb_Bold.woff") format("woff")
}
@font-face {
    font-family: sans;
    font-style: normal;
    font-weight: 500;
    src: url("../fonts/sansWeb_Medium.woff") format("woff")
}
@font-face {
    font-family: sans;
    font-style: normal;
    font-weight: 300;
    src: url("../fonts/sansWeb_Light.woff") format("woff")
}
@font-face {
    font-family: sans;
    font-style: normal;
    font-weight: 200;
    src: url("../fonts/sansWeb_UltraLight.woff") format("woff")
}
@font-face {
    font-family: sans;
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/sansWeb.woff") format("woff")
}